span {
  color: var(--bold-color);
}

ul{
  padding-inline-start: 0;
}

.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 35%;
  margin-top: 14dvh;
  margin-bottom: 14dvh;
}

.title {
  font-size: 84px;
  font-weight: bold;
  color: var(--bold-color);
}

.sub-title {
  color: var(--text-main-color);
  font-size: 24px;
}

.about-me {
  padding-top: 32px;
}

.about-me > h3 {
  color: var(--bold-color);
}

.about-me > p {
  color: var(--text-main-color);
  line-height: 27px;
  text-align: justify;
  font-weight: 400;
}

/* ========= Experience ========= */

.experience {
  color: var(--bold-color);
  font-weight: 700 !important;
}

.experience {
  padding-top: 32px;
}

/* ========= Aba de projetos ============= */

.projects{
  display: flex;
  flex-direction: column;
}

.projects-cards{
  display: flex;
  margin-top: 5px;
}

.projects-cards div > h3{
  color: var(--bold-color);
} 

.projects-cards div > p {
  color: var(--text-main-color);
}


/* ========= Galeria ============= */

.gallery {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* ========= Fundo animado ============= */

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 9%;
	top: 10%;
	width: 530px;
	height: 530px;
	background: var(--secundary-bg-color);

	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}