span {
  color: var(--bold-color);
}

ul{
  padding-inline-start: 0;
}

.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 35%;
}

.title {
  font-size: 84px;
  font-weight: bold;
  color: var(--bold-color);
}

.sub-title {
  color: var(--text-main-color);
  font-size: 24px;
}

.about-me {
  padding-top: 32px;
}

.about-me > h3 {
  color: var(--bold-color);
}

.about-me > p {
  color: var(--text-main-color);
  line-height: 27px;
  text-align: justify;
  font-weight: 400;
}

/* ========= Experience ========= */

.experience {
  color: var(--bold-color);
  font-weight: 700 !important;
}

.experience {
  padding-top: 32px;
}

/* ========= Aba de projetos ============= */


.projects-cards > h3{
  color: var(--bold-color);
} 

.projects-cards > p {
  color: var(--text-main-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}