.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto auto auto;
}

.introduction{
    color: black;
}

.introduction-span_frontend-title{
    background-color: black;
    color: white;

    border-radius: 16px;
    font-size: 50px;
    font-weight: bold;
}

.introduction-span_name-title{
    font-size: 50px;
    font-weight: bold;
}

.introduction-image-container{
    display: flex;
    gap: 30px;
    padding: 3vw;
}
