.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto auto auto;
}

.introduction-span_frontend-title{
    color: #B3B3B3;
    font-size: 24px;
}


.introduction-span_name-title{
    padding: 0px 0px 0px 0px;
}
.introduction-span_name-title{
    font-size: 84px;
    font-weight: bold;
    color: #00CBA2;
}

