.navbar {
	display: flex;
	flex-direction: column;
	padding: 0px 64px 0px 0px;
}

.navbar>ul>li {
	display: flex;
	align-content: start;
	gap: 7px;
	padding-top: 12px;
}

a {
	color: var(--text-main-color);
}

a:focus {
	color: var( --bold-color);
}

.socials {
	display: flex;
	gap: 12px;
	padding-top: 25px;
}