.navbar {
	display: flex;
	min-width: 250px;
	max-width: 500px;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.navbar>ul>li {
	display: flex;
	align-content: start;
	gap: 7px;
	padding-top: 12px;
}

a {
	color: var(--text-main-color);
}

a:focus {
	color: var( --bold-color);
}

.socials {
	display: flex;
	gap: 12px;
	margin-top: 25px;
}