@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bold-color: #00CBA2;
  --main-bg-color: #1B112F;
  --secundary-bg-color: #1B0050;
  --text-main-color: #B3B3B3;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body {
  background-color: #1B112F;
}