:root{
    --bold-color: #00CBA2;
    --main-bg-color: #1B112F;
    --secundary-bg-color: #1B0050;
    --text-main-color: #B3B3B3;
}




span{
    color: var(--bold-color);
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto auto auto;
}

.title{
    font-size: 84px;
    font-weight: bold;
    color: var(--bold-color);
}

.sub-title{
    color: var(--text-main-color);
    font-size: 24px;
    line-height: 0;
}

.about-me > h3{
    color: var(--bold-color);
    
}

.about-me > p{
    color: var(--text-main-color);
    line-height: 27px;
    text-align: justify;
}
